
/*page*/
.dogo-page {height:auto;}

/*override*/
.navbar-default .navbar-nav > li > a{color: #444;}

/*dogo-box*/
.dogo-box{}
.dogo-box-header{}
.dogo-box-header h3{font-size: 15px;line-height: 30px;padding-left: 15px;}


/*header*/
.dogo-header{}
.dogo-header .navbar{border-radius: 0px;}

/*top*/
.dogo-top{background: #f2f2f2;}

/*dogo-logo*/
.dogo-logo{}
/*dogo-nav*/
.dogo-nav{}

/*dogo-flash*/
.dogo-flash{height: auto;}
.dogo-flash img{height: 300px;}

/*dogo-view-title*/
.dogo-view-title{height: auto;border-bottom: 1px solid #f2f2f2; padding: 5px 0;}
.dogo-view-title h4{line-height: 25px;font-size: 18px;color: #000;}
.dogo-view-title p{line-height: 20px;color: #cc4026;font-weight: bold;padding-top: 5px;}

.dogo-view-info{}
.dogo-view-info p{line-height: 20px;height: 25px;margin: 5px 0;}
.dogo-view-info p span{margin-left: 15px;font-size: 15px;margin-right: 5px;}
.dogo-view-info p span.price{text-decoration:line-through;}


.dogo-view-cart{border: 1px solid #f2f2f2;height: auto;padding: 5px 10px;line-height: 45px;}
.dogo-view-cart p a:first-child{padding: 6px 40px;margin: 0 8px;}
.dogo-view-cart p a:last-child{padding: 6px 40px;}
/*dogo-footer*/
.dogo-footer{text-align: center;margin: 20px 0 30px;}




@media(min-width:768px){
    .dogo-thumbnail{min-height: 270px;}
    .dogo-thumbnail img{min-height: 250px;}
}
@media (min-width: 1200px){
    .dogo-wp {width: 1240px;}
    .dogo-thumbnail{min-height: 270px;}
    .dogo-thumbnail img{max-height: 150px;min-height: 150px;}
    .dogo-top{height: 26px;}
    .dogo-logo{height: 90px;}
}
@media(max-width:768px){

}



