
/*page*/
.dogo-page {height:auto;}

.dogo-navbar{min-height: 80px;}
.dogo-navbar .navbar-toggle {margin-top:20px;}
/*override*/

.dogo-navbar .navbar-brand{line-height: 50px;color: #000;font-size: 16px;}
.dogo-navbar .navbar-nav>li>a{line-height: 50px;font-size: 16px;color: #000;}
.panel,.panel-heading{border-radius: 0;}
/*dogo-box*/
.dogo-box{}
.dogo-box-header{}
.dogo-box-header h3{font-size: 15px;line-height: 30px;}

/*header*/
.dogo-header{}
.dogo-header .dogo-top{min-height: 90px;background: #fff;}
.dogo-header .dogo-nav{min-height: 40px;background: #7E4FC3;}
/*.dogo-header .dogo-nav{height: 40px;background: #F05050;}*/
/*.dogo-header .dogo-nav{height: 40px;background: #2470F8;}*/
/*dogo-logo*/
.dogo-logo{margin-top: 15px;}
.dogo-logo img{width: 120px;height: 60px;}
/*dogo-form*/
.dogo-header .dogo-form{margin-top: 20px;}
/*dogo-form*/
.dogo-header .dogo-klogin{margin-top: 35px;}
.dogo-header .dogo-klogin a{margin: 0 5px;}
/*dogo-top*/
.dogo-top{}
.dogo-top nav a{margin: 2px 5px;}

/*dogo-nav*/
.dogo-nav .dropdown>a{color: #fff;}
.dogo-nav .dropdown>a:hover,.dogo-nav .dropdown>a:active{color: #FD6639;}
.dogo-nav .open>a,.dogo-nav .open>a:hover,.dogo-nav .open>a:active{color: #FD6639;}
.dogo-nav a.navbar-brand{color: #fff;}
.dogo-nav a:hover.navbar-brand{color: #FD6639;}
.dogo-nav .nav>li>a:hover{background: #fff;}
.dogo-nav li.dogo-no-dropdown a{color: #fff;}
.dogo-nav li.dogo-no-dropdown a:hover{color: #FD6639;}

.dropdown-menu>li>a {display: block;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}

.dogo-nav .navbar-toggle{background-color: #7E4FC3;}
.dogo-nav .navbar-toggle .icon-bar{background: #FFF;}

/*dogo-notice*/
.dogo-notice li{min-height: 35px;line-height: 30px;}
.dogo-notice li a{line-height: 35px;}

/*dogo-notice-mod*/
.dogo-notice-mod{height: 100px;}
.dogo-notice-mod ul{margin-top: 17px;}
.dogo-notice-mod ul li{width: 32%;float: left;text-align: center;}
.dogo-notice-mod ul li span{font-size: 30px;}
.dogo-notice-mod ul li a{color: #9E9E9E;}
.dogo-notice-mod ul li a:hover{color: #FD6639;}
.dogo-notice-mod ul li a p{color: #575757;line-height: 30px;}
.dogo-notice-mod ul li a:hover p{color: #FD6639;}

/*dogo-list-text*/
.dogo-list-text{}
.dogo-list-text ul{}
.dogo-list-text ul li{border-bottom: 1px dotted #ccc;padding: 8px 0;margin-bottom: 10px;}
.dogo-list-text ul li:last-child{border-bottom: none;}
.dogo-list-text ul li h3{font-size: 18px;line-height: 25px;font-weight: bold;}
.dogo-list-text ul li h6{line-height: 25px;}
.dogo-list-text ul li p{line-height: 25px;}







/*dogo-view-info*/
.dogo-view-info{}
.dogo-view-info .dogo-box-content{padding: 10px 0;}
.dogo-view-info .dogo-box-content p{line-height: 25px;}

.dogo-view-info .dogo-box-header{}
.dogo-view-info .dogo-box-header h1{font-size: 20px;font-weight: bold;line-height: 35px;}
.dogo-view-info .dogo-box-header p{line-height: 25px;}

/**footer**/
.dogo-nav-footer{min-height: 70px;background: #333;color: #fff;line-height: 70px;}
.dogo-nav-footer nav a{color: #fff;margin: 2px 5px;}
.dogo-nav-footer nav a:hover{color: #FD6639;}

.dogo-bottom{color: #939393;min-height: 50px;background: #252525;padding: 10px 0;line-height: 20px;}

@media(min-width:768px){
    .dogo-top{line-height: 20px;}
    .navbar-header{display: none;}
    /*
    .dogo-thumbnail{min-height: 318px;}
    .dogo-thumbnail img{min-height: 310px;}
     */
}
@media (min-width: 1200px){
    /*.dogo-top{line-height: 80px;}*/
    /*
    .dogo-thumbnail{max-height: 318px;overflow: hidden;}
    .dogo-thumbnail-pic img{max-height: 310px;min-height: 310px;}
    .dogo-logo{height: 90px;}
    */
    .container {width: 1020px;}
}
@media(max-width:768px){
    .dogo-top{line-height: 20px;}
}


