@charset "utf-8";
/* CSS Document */
/*重置*/
*{margin:0; padding:0; font-size:14px; line-height:16px; font-family:"微软雅黑";}
li{list-style:none;}
img{border:none 0; display:block;}
h1,h2{font-weight:normal;}
a{text-decoration:none; color:#787878;}
a:hover{ text-decoration:none; cursor:pointer;}
.row{ margin:0px;}
/*头部*/
.hf_head { overflow:hidden; width:1200px; margin:0 auto; height:120px;}
.hf_head .hf_logo{ float: left;}
.hf_head .row{ float:right; padding-top:60px;}
.hf_head .row .col-md-1{ width:auto;}
.hf_head .row .col-md-1 a{ font-size:16px; color:#505050; padding-left:50px; padding-right:0px;}
.hf_head .row .col-md-1 a:hover{ color:#18dcff; text-decoration:none;}
.hf_underline { width:100%;}
.hf_underline .col-md-6{ height:4px; background:#a518ff;}
.hf_underline .blue{ background:#18dcff;}
/*首页banner*/
.banner_box{ margin-top:20px;}
.carousel-inner{ width:1200px; margin:0 auto;}
.carousel-control.right{ background:url(../images/pageturn_right.png) no-repeat center;}
.carousel-control.left{ background:url(../images/pageturn_left.png) no-repeat center;}
.carousel-indicators .active{ width:14px; height:14px;margin-left:8px;}
.carousel-indicators li{ width:14px; height:14px; background:#666; border:none 0; margin:0;border-radius:14px; margin-left:8px;}
/*热销*/
.hf_hot{ width:1200px; margin:0 auto;}
.hf_hot .title{ background:url(../images/title_01.png) no-repeat top center; width:100%; height:50px; margin-top:60px;}
.hf_hot .more{ overflow:hidden;}
.hf_hot .more a{ display:block; float:right; line-height:60px; color:#444; background:url(../images/hf_more.png) no-repeat center right; padding-right:16px;}
.hf_hot .more a:hover{ color:#0088cc;}
.hf_hot .main{ border:1px solid #e6e6e6; width:1200px; margin:0 auto;}
.hf_hot .main .col-md-6{ border-right:1px solid #e6e6e6; height:350px; overflow:hidden;}
.hf_hot .main .col-md-2{ border-right:1px solid #e6e6e6; height:350px;}
.hf_hot .main .last{ border:none 0;}
.hf_hot .main .col-md-6 .pic{ width:45%; height:350px; background:url(../img/index_11_03.png) no-repeat bottom ; float:left;}
.hf_hot .main .col-md-6 .text{ float:left; width:50%;}
.hf_hot .main .col-md-6 .text h4{ color:#333; font-size:24px; padding-top:80px; padding-bottom:20px;}
.hf_hot .main .col-md-6 .text span{ color:#787878; line-height:24px;}
.hf_hot .main .col-md-6 .text a{ color:#0088cc; display:block; padding-top:30px;}
.hf_hot .main .col-md-6 .text a:hover{color:#026494;}
.hf_hot .main .col-md-2 .pic{ width:100%; height:170px; background:url(../img/index_11_08.png) no-repeat top center; margin-top:50px; margin-bottom:40px;}
.hf_hot .main .col-md-2 .pic_02{ background:url(../img/index_11_06.png) no-repeat top center;}
.hf_hot .main .col-md-2 a{ width:140px; margin:0 auto; display:block; line-height:24px;}
.hf_hot .main .col-md-2 a:hover{ color:#0088cc;}
/*优势*/
.hf_advantage{ width:100%;}
.hf_advantage .bg_grey{ background:#f6f6f6; padding-top:40px; padding-bottom:50px;}
.hf_advantage .title{ background:url(../images/title_02.png) no-repeat top center; margin-bottom:40px;}
.hf_advantage .main{ border:none 0;} 
.hf_advantage .main .col-md-4{ width:370px; height:450px; background:#fff; margin-right:45px;}

.hf_advantage .main .col-md-4{ background:url(../images/icon_01.png) no-repeat center 50px #fff;}
.hf_advantage .main .col-md-4 h5{ color:#738397; font-size:20px; width:100%; text-align:center; padding-top:220px; font-weight:bold; padding-bottom:30px;}
.hf_advantage .main .col-md-4 p{ width:100%; text-align:center; color:#787878;}
.hf_advantage .main .second{ background:url(../images/icon_02.png) no-repeat center 50px #fff;}
.hf_advantage .main .last{ margin-right:0px; background:url(../images/icon_03.png) no-repeat center 50px #fff;}
/*消息*/
.hf_news .title{ background:url(../images/title_03.png) no-repeat top center;}
.hf_news .main{ border:none 0;}
.hf_news .main .frist{ background:url(../img/index_21.png) no-repeat; width:370px; height:220px; border:none 0;}
.hf_news .main .last{ border:none 0; height:220px;  margin-left:20px; width:800px; padding-left:0px; padding-right:0px;}
.hf_news .main .last a{ display:block; font-size:16px; line-height:55px;width:800px; border-bottom:1px solid #e6e6e6; color:#555; overflow:hidden; background:url(../images/dian.png) no-repeat 35px center; padding-left:55px; }
.hf_news .main .last a span{ font-size: 16px; color:#969696; display:block; float:right; line-height:55px;}
.hf_news .main .last a:hover{ color:#0088cc;}
.hf_upbtm{ margin-top:50px; margin-bottom:40px;}
/*底部*/
.hf_foot{ background:#f6f6f6; border-top:1px solid #ddd;}
.hf_foot .foot_main{ width:1200px; margin:0 auto; }
.hf_foot .foot_up{overflow:hidden; padding-top:30px; border-bottom:1px solid #ddd; padding-bottom:20px;}
.hf_foot .foot_up .left{ float:left; width:50%; color:#787878;} 
.hf_foot .foot_up .left .row div{ padding:0; line-height:60px;}
.hf_foot .foot_up .left .row .email{ background:url(../images/foot_02.png) no-repeat left center; padding-left:30px;}
.hf_foot .foot_up .left .row .tele{ background:url(../images/foot_01.png) no-repeat left center; padding-left:30px;}
.hf_foot .foot_up .left p{ margin-top:20px;}
.hf_foot .foot_up .right{ float:right;}
.hf_foot .foot_up .right a{ margin-left:30px; line-height:60px;}
.hf_foot .foot_down{ padding-top:30px; width:600px; margin:0 auto; padding-bottom:55px;}
.hf_foot .foot_down a{ display:block; height:88px; background:url(../images/foot_wx.png) no-repeat center center; }
.hf_foot .foot_down .second{ background:url(../images/foot_top.png) no-repeat center center;}
.hf_foot .foot_down .last{ background:url(../images/foot_cang.png) no-repeat center center;}
.foot_information{font-size:12px; text-align:center; width:1200px; padding-bottom:40px;}
/*产品中心*/
.breadcrumb_bg{ background:#f7f7f7; border-bottom:1px solid #e1e1e1; margin-bottom:40px;}
.breadcrumb{ background:url(../images/breadcrumb.png) no-repeat left center; width:1200px; margin:0 auto; line-height:50px; padding:0; padding-left:40px;}
.hf_productlist .main_row{ width:1200px; margin:0 auto; margin-bottom:30px;}
.hf_productlist .main_row a{ width:380px; height:380px; display:block; border:1px solid #e6e6e6; margin-right:30px; padding-top:15px;}

.hf_productlist .main_row .last{ margin:0;}
.hf_productlist .main_row .pro_text{ width:46%; margin-left:10px;}
.hf_productlist .main_row .pro_text h2{ font-size:18px; line-height:32px; color:#505050; padding-top:50px; padding-bottom:30px;}
.hf_productlist .main_row .pro_item .col-md-6{padding:0;}
.pro_flip{ width:1200px; margin:0 auto; overflow:hidden;}
.pro_flip .pagination{ float:right; margin:0px;}
/*产品详情*/
.hf_product{ background:#f5f5f5;}
.pro_topbox{ background:#fff; width:1200px; margin:0 auto;  height:700px; -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
  -webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);  
  -moz-box-shadow:0 6 rgba(0, 0, 0, 0.20);  
  box-shadow:0 0 6px rgba(0, 0, 0, 0.20); margin-bottom:40px; }
.pro_topbox_img{ width:40%; padding-left:120px;}
.pro_topbox_text{ margin-left:60px; padding-top:50px;}
.pro_topbox_text h2{color:#404040; font-size:40px; font-weight:600; line-height:60px; padding-bottom:30px;}
.pro_topbox_text p{ color:##505050; font-size:24px; padding-bottom:40px; }
.pro_topbox_text p span{color:#666;}
.pro_topbox_text a {background:url(../images/tb_shop.png) no-repeat left center; padding-left:30px; color:#0088cc; text-decoration:underline; }
.pro_topbox_text>.table{ margin-top:40px;}
.pro_topbox_text>.table>thead>tr>th{border:none 0; padding-left:0px; font-weight:normal; color:#787878;width:240px;}
.pro_topbox_text>.table>tbody>tr>th{ padding-left:0px;font-weight:normal; color:#787878;}
.pro_topbox_text>.table>tbody>tr>td{ color:#787878;}
.pro_midbox{ height:auto; padding-bottom:40px;}
.pro_midbox .text .col-md-6{ padding:0;}
.pro_midbox .text{ padding-left:100px;}
.pro_midbox .img{ padding-left:30px;}
.pro_midbox .text h3{ color:#444; font-size:40px; font-weight:600; padding-top:100px; padding-bottom:50px;}
.pro_midbox .text p{ color:#333; font-size:20px; line-height:40px; width:80%;}

.pro_anli h2{ width:100%; text-align:center; padding-top:56px; color:#444; font-size:40px; padding-bottom:40px;}
.pro_anli .carousel-indicators .active{ display:none;}
.pro_anli .carousel-indicators li{ display:none;}
.pro_anli .carousel-inner{width:980px;}
/*联系我们*/
.hf_contact .breadcrumb_bg{ margin:0px;}
.hf_contact .top{ width:100%; background:url(../images/contact_01.jpg) no-repeat; height:360px; background-size:110% 360px; margin-bottom:40px;}
.wk_contact .map{ width:400px; height:360px; background:url(../images/map.jpg) no-repeat; background-size:100% 100%;  -moz-border-radius: 8px;      /* Gecko browsers */
    -webkit-border-radius: 8px;   /* Webkit browsers */
    border-radius:8px;            /* W3C syntax */ border:2px solid #fff;  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.27);  
  -moz-box-shadow:0 0 rgba(0, 0, 0, 0.27);  
  box-shadow:0 0 10px rgba(0, 0, 0, 0.27);}
.hf_contact .row{ width:980px; margin:0 auto; margin-bottom:40px;}
.wk_contact .text{ padding-top:30px;}
.wk_contact .text div{ padding-bottom:15px;} 
.wk_contact .text div p{ color:#666; padding-bottom:5px;}
.wk_contact .text div p a{ color:#0088cc;}
.wk_contact .text div p a:hover{ text-decoration:underline;}
/*品牌故事*/
.storybox{ width:1200px; margin:0 auto; background:#fff; padding-bottom:50px;}
.storybox h2{ color:#666; font-size:26px; padding-bottom:30px;}
.storybox .toppic{ margin-bottom:50px;}

.storybox .toppic .col-md-3{ padding:0;}
.story_main .col-md-9{ padding:0px; width:900px; margin-right:20px;}
.story_main .col-md-3{ padding:0px; width:280px;}
.story_main h3{ color:#333; font-size:14px; font-weight:bold; line-height:32px;-moz-border-radius:4px;      /* Gecko browsers */
    -webkit-border-radius:4px;   /* Webkit browsers */
    border-radius:4px;            /* W3C syntax */
	
	background-image: -o-linear-gradient(top,#f5f5f5 0,#ddd 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#ddd));
background-image: linear-gradient(to bottom,#f5f5f5 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);

padding-left:15px;
}
.story_main .left div{ padding-left:20px; padding-right:40px;}
.story_main .left h4{ font-size:14px; color:#333; font-weight:bold; line-height:40px;}
.story_main .left div p{ color:#666; line-height:30px;}
.story_main .right .map{ border:none; width:280px; height:180px; -moz-border-radius: 0px;      /* Gecko browsers */
    -webkit-border-radius: 0px;   /* Webkit browsers */
    border-radius:0px;            /* W3C syntax */ -webkit-box-shadow:0 0 0px rgba(0, 0, 0, 0.27);  
  -moz-box-shadow:0 0 rgba(0, 0, 0, 0.27);  
  box-shadow:0 0 0px rgba(0, 0, 0, 0.27); background-size:auto auto;}
.story_main .right .text p{ font-size:12px;}
.story_main .right .text div{ padding-bottom:0px;}

/*新闻列表*/
.newslist{ width:1200px; margin:0 auto;}
.newslist .pro_topbox{ height:auto; padding:0px;}
.newslist .left{ padding:20px; padding-right:40px; padding-left:30px;}
.newslist .left div{ padding:0px;}
.newslist .left .item{ border-bottom:1px solid #ddd; padding-bottom:20px; overflow:hidden; margin-bottom:10px;} 
.newslist .left .last{ border:none 0;}
.newslist .left h2{ color:#333; font-size:20px;}
.newslist .left span{ color:#969696; font-size:12px; padding-bottom:10px; display:block; padding-top:5px;}
.newslist .left a{ display:block; color:#0088cc; float:right;}

.newslist .list-group .list-group-item{ line-height:70px; padding:0px; padding-left:30px; font-size:16px; color:#555;}
.newslist .list-group .list-group-item:hover{ background:#5aa5f2; color:#fff;}
.newslist .list-group .active{ line-height:72px; color:#505050; font-size:18px; padding:0px;background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
background-image: -o-linear-gradient(top,#f5f5f5 0,#ddd 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#ddd));
background-image: linear-gradient(to bottom,#f5f5f5 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0); border:none 0; border-bottom:1px solid #c8c8c8; padding-left:20px; text-shadow:none;}

.newslist .list-group .active:hover{ background:;background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
background-image: -o-linear-gradient(top,#f5f5f5 0,#ddd 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#ddd));
background-image: linear-gradient(to bottom,#f5f5f5 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);color:#505050;}





