/**gongong**/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,th,form,fieldset,img,dl,dt,dd,input,select,bottom{margin:0;padding:0;}
body{font-family: 'Open Sans','Helvetica Neue',Arial,"Hiragino Sans GB",'Microsoft YaHei',sans-serif;font-size: 13px;}
li{list-style: none;}
a{text-decoration:none;color: #3E3E3E;}
a:hover{text-decoration:none;color: #FF6347;}
.dogo-clear{clear: both;}

.container-fluid{padding-left: 0;padding-right: 0;}
.dogo-border{border: 1px solid #ccc;}/*临时设置最小高度*/
.dogo-pdtop1{padding-top: 5px;}
.dogo-pdtop2{padding-top: 10px;}
.dogo-pd10{padding: 10px;}
.dogo-pd510{padding:5px 10px;}
.dogo-pd515{padding:5px 15px;}
.dogo-pd1015{padding:10px 15px;}
.dogo-pd15{padding: 15px;}
.dogo-mr15{margin-right: 15px;}
.dogo-blank{ height:15px;margin: 0;padding: 0;}
.cursor{cursor:pointer;}
.dogo-flt{float: left;display: inline;}
.dogo-frt{float: right;display: inline;}
.dogo-color-white{color: white;text-shadow: none;}
.dogo-align-center{text-align: center;}
.dogo-align-right{text-align: right;}
.dogo-align-center tr th{text-align: center;}
.dogo-border-all{border: 1px solid rgba(199, 199, 199, 0.6);}

/*dogo-graphic图文*/
.dogo-graphic{}
.dogo-graphic .dogo-box-header{}
.dogo-graphic .dogo-box-header h3{border-bottom: 2px solid #FD6639;margin-bottom: 10px;}
.dogo-graphic .dogo-box-header h3 a{color: #FD6639;}
.dogo-graphic .dogo-box-content a{display: block;color: #fff;font-size: 16px;margin-bottom: 10px; }
.dogo-graphic .dogo-box-content a:hover{color: #FD6639;}
.dogo-graphic .dogo-box-content img{min-height: 140px;max-height: 140px;min-width: 140px;max-width: 140px;}
.dogo-graphic .dogo-box-content p{position: absolute;bottom: 10px;line-height: 20px;overflow: hidden;right: 10px;left: 20px;}


/*dogo-recom*/
.dogo-recom{}
.dogo-recom .dogo-box-header{}
.dogo-recom .dogo-box-header h3{border-bottom: 2px solid #FD6639;margin-bottom: 10px;}
.dogo-recom .dogo-box-header h3 a{color: #FD6639;}
.dogo-recom .dogo-box-content a{display: block;color: #000;font-size: 16px;margin-bottom: 10px; }
.dogo-recom .dogo-box-content a:hover{color: #FD6639;}
.dogo-recom .dogo-box-content img{min-height: 130px;max-height: 130px;min-width: 190px;max-width: 190px;}
.dogo-recom .dogo-box-content p{line-height: 25px;height: 25px;overflow: hidden;}

/*dogo-text-rank*/
.dogo-text-rank{height: 185px;}
.dogo-text-rank ul{}
.dogo-text-rank ul li{line-height: 30px;height: 25px;overflow: hidden;}
.dogo-text-rank ul li span{width: 16px;height: 16px;background: #7E4FC3;margin: 0 5px;padding: 0 5px;color: #fff;}
.dogo-text-rank ul li a{}
.dogo-text-rank ul li a:hover{}

/*dogo-text-graphic*/
.dogo-text-graphic{}
.dogo-text-graphic .dogo-box-header{}
.dogo-text-graphic .dogo-box-header h3{border-bottom: 2px solid #FD6639;margin-bottom: 10px;}
.dogo-text-graphic .dogo-box-header h3 a{color: #FD6639;}
.dogo-text-graphic ul{}
.dogo-text-graphic ul li{overflow: hidden;margin-bottom: 15px;}
.dogo-text-graphic .pic{width: 70px;}
.dogo-text-graphic .title{width: 230px;}
.dogo-text-graphic .title h3{font-size: 13px;height: 55px;line-height: 18px;overflow: hidden;}
.dogo-text-graphic .title h3 a{color: #000;}
.dogo-text-graphic .title h3 a:hover{color: #FD6639;}
.dogo-text-graphic .title p{color: #868686;}

/*dogo-index-list*/
.dogo-index-list{}
.dogo-index-list .dogo-box-header{}
.dogo-index-list .dogo-box-header h3{border-bottom: 2px solid #FD6639;margin-bottom: 10px;}
.dogo-index-list .dogo-box-header h3 a{color: #FD6639;}
.dogo-index-list .dogo-box-content a{color: #000;font-size: 16px;margin-bottom: 10px; }
.dogo-index-list .dogo-box-content a:hover{color: #FD6639;}
.dogo-index-list .dogo-box-content img{min-height: 130px;max-height: 130px;min-width: 190px;max-width: 190px;}
.dogo-index-list .dogo-box-content p{line-height: 25px;height: 50px;overflow: hidden;}




/*dogo-text*/
.dogo-text{}
.dogo-text ul{}
.dogo-text ul li{height: 22px;line-height: 22px;overflow: hidden;}
.dogo-text ul li a{margin-left: 4px;}


/*dogo-panel-red*/
.dogo-panel-redone{border-color: #F05050;}
.dogo-panel-redone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#E64646 0,#DB3333 100%);
    background-image: linear-gradient(to bottom,#E64646 0,#DB3333 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-redone>.panel-heading {
    color: #fff;
    background-color: #F05050;
    border-color: #F05050;
}
/*dogo-panel-purple*/
.dogo-panel-purpleone{border-color: #7E4FC3;}
.dogo-panel-purpleone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#7C60A5 0,#6F529B 100%);
    background-image: linear-gradient(to bottom,#7C60A5 0,#6F529B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-purpleone>.panel-heading {color: #fff;background-color: #7E4FC3;border-color: #7E4FC3;}
/*dogo-panel-gray*/
.dogo-panel-grayone{border-color: #A6A4AA;}
.dogo-panel-grayone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#C9C7CE 0,#AAA8AC 100%);
    background-image: linear-gradient(to bottom,#C9C7CE 0,#AAA8AC 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-grayone>.panel-heading {
    color: #fff;
    background-color: #A6A4AA;
    border-color: #A6A4AA;
}
/*dogo-panel-yellowone*/
.dogo-panel-yellowone{border-color: #F88F26;}
.dogo-panel-yellowone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#FFA54C 0,#ff7f00 100%);
    background-image: linear-gradient(to bottom,#FFA54C 0,#ff7f00 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-yellowone>.panel-heading {
    color: #fff;
    background-color: #F88F26;
    border-color: #F88F26;
}
/*dogo-panel-yellowtwo*/
.dogo-panel-yellowtwo{border-color: #ff6600;}
.dogo-panel-yellowtwo>.panel-heading {
    background-image: -webkit-linear-gradient(top,#FFA54C 0,#ff7f00 100%);
    background-image: linear-gradient(to bottom,#ff6600 0,#ff6600 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-yellowtwo>.panel-heading {
    color: #fff;
    background-color: #ff6600;
    border-color: #ff6600;
}


/*dogo-panel-blueone*/
.dogo-panel-blueone{border-color: #2d89ef;}
.dogo-panel-blueone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#4094F1 0,#2d89ef 100%);
    background-image: linear-gradient(to bottom,#4094F1 0,#2d89ef 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-blueone>.panel-heading {
    color: #fff;
    background-color: #2d89ef;
    border-color: #2d89ef;
}

/*dogo-panel-pinkone*/
.dogo-panel-pinkone{border-color: #C54DA8;}
.dogo-panel-pinkone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#E063C2 0,#C54DA8 100%);
    background-image: linear-gradient(to bottom,#E063C2 0,#C54DA8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE063C2', endColorstr='#ffC54DA8', GradientType=0);
}
.dogo-panel-pinkone>.panel-heading {
    color: #fff;
    background-color: #C54DA8;
    border-color: #C54DA8;
}
/*dogo-panel-greenone*/
.dogo-panel-greenone{border-color: #00a300;}
.dogo-panel-greenone>.panel-heading {
    background-image: -webkit-linear-gradient(top,#53A753 0,#00a300 100%);
    background-image: linear-gradient(to bottom,#53A753 0,#00a300 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dogo-panel-greenone>.panel-heading {
    color: #fff;
    background-color: #00a300;
    border-color: #00a300;
}





